

 <div class="parallax-content baner-content">
        <div class="container">
            <div class="text-content">
                <h2><em>Grocery</em>  store</h2>
                <p style="color:black;" ><b>Our store got variety of fresh fruits and vegetables, Indian Grocery, Spices, Lentils, Real Fruit IceCream, Milkshakes, kiwi groceries, dairy products & much more Please tell your friends about us. Thank you.</b></p>
                <div class="primary-white-button">
                    <a href="#" class="scroll-link" data-id="home">Let's Start</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container" id="home">
        
        <h1 class="text content_text_one text_shadow"> Welcome </h1>
        <p class="content_text" align="justify">We provide a variety of tasty catering and group sharing options for business meetings, functions and events. Delivering happiness for four - 500+ people. We cater to all dietary preferences including vegan, vegetarian, gluten free and dairy free.
        Order in-store, online or on our app. We require 2 hours notice on all catering orders, however please phone your local store to check they can accommodate your needs. Free delivery for orders over $100 at participating stores within set delivery zones. View our menu below or visit our online ordering page by clicking the link below.</p>
        </div>

        <br>